<h1>Articles</h1>

<ul class="article-list">
	<% @articles.each do |article| %>
		<% unless article.archived? %>
			<li class="article-link">
				<%= link_to article.title, article %>
			</li>
		<% end %>
	<% end %>
</ul>

<em>Our blog has <%= Article.public_count %> articles and counting!</em>
