<%= render 'article', article: @article %>

<h2>Comments</h2>
<em>This Article has <%= @article.comments.count %> comments and counting!</em>
<%= render @article.comments %>

<% if user_signed_in? %>
  <h2>Add a comment:</h2>
  <%= render 'comments/form', article: @article %>
<% end %>
