// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.users-list {
  width: 75%;
  text-align: center;
  list-style: none;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.user-container {
  border-radius: 10px;
  box-shadow: #27496d 0 0 5px;
  background-color: #bae8e8;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 50%;
  margin: 1rem 0;
  padding: 1rem;
}

.user-name,
.user-email {
  font-size: 1em;
}
